- content_for :navigation do
  = t('activerecord.models.team.other')
- content_for :page_title do
  = "#{t('activerecord.models.team.other')} - Let's Dev !"

- @manager_teams.in_groups_of(4, false).each do |teams|
  .columns
    - teams.each do |t|
      .column
        = render partial: 'shared/team_card', locals: {team: t}

%br

= link_to 'New Team', new_manager_team_path
