- content_for :navigation do
  = @manager_team.name
- content_for :page_title do
  = "#{@manager_team.name} - Let's Dev !"

#team
  .columns
    .column
      .team-infos
        .logo
          = image_tag @manager_team.logo.url
        
        %p.description
          = @manager_team.description || "Aucune description"

          - if can?(:manage, @manager_team)
            %small
              = link_to 'Modifier', edit_manager_team_path(@manager_team)


          - unless current_user.has_team?
            %small
              = link_to 'Postuler', manager_team_user_membership_requests_path(team_id: @manager_team.id), method: :post

      .team-members
        %h3
          Membres de l'équipe
        .members
          - @manager_team.users.each do |u|
            .member
              = image_tag u.avatar.url
              = u.username
      - if current_user.is_admin_of?(@manager_team)
        .team-members
          %h3
            Demandes d'adhésion
          .members
            - if @manager_team.team_user_membership_requests.pending.size > 0 
              - @manager_team.team_user_membership_requests.pending.each do |u|
                .member
                  = image_tag u.user.avatar.url
                  = u.user.username
                  %p
                    = link_to 'Accepter', accept_manager_team_user_membership_request_path(u.id)
                    \|
                    = link_to 'Refuser', decline_manager_team_user_membership_request_path(u.id)
            - else
              Aucune demande d'adhésion
    .column
      %h3
        Participations
      %ul
        - @manager_team.team_challenge_memberships.each do |c|
          = render partial: 'shared/challenge_card', locals: {challenge: c.challenge, repo: c.github_repository}
